{% extends "layout.html" %}

{% block content %}

<div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="https://cdn4.iconfinder.com/data/icons/general13/png/128/administrator.png"><br>
        <b>Your Name</b><br>
        1000 followers
    </div>
    <div class="col-md-9">

        <!-- display tweets here -->
        <h4>All Tweets</h4>
        {% for tweet in tweets %}
        <li> <img src={{tweet.img}}>
            <a href="/users/{{tweet.name}}">{{tweet.name}}
            </a> - {{tweet.text}}</li>
        {% endfor %}

        {% if showForm %}
        <form action="/submit" method="POST">
            <label for="name_field">Name:</label>
            <input name="name" type="text" id="name_field" />

            <label for="text_field">Text:</label>
            <input name="text" type="text" id="text_field" style="width: 350px;" />

            <input type="submit" value="Submit" />
        </form>
        {% endif %}

    </div>
</div>

{% endblock %}
